@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: 'VT323', monospace;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}

@media (max-width: 700px) {
    .w-50 {
        width: 100%!important;
        height: 100%!important;
        top: 20%!important;
        right: 0!important;
        left: 0!important;
        z-index: 123;
        text-align: center!important;
    }
    .m-3 {
        margin: 0.5rem!important;
    }
    .textJoinDiscord {
        top: 3%!important;
    }

    h1 {
        text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    }
    p {
        text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    }
    .text-landing-header {
        z-index: 123;
    }
    .logoWrap {
        z-index: 1234;
    }
    .textCollect {
        top: -10%!important;
    }
    .textStrdt {
        top: 60%!important;
    }
    .twitWrap {
        position: absolute;
        top: 20%!important;
        right: 0!important;
        z-index: 234!important;
    } 
    .discWrap {
        position: absolute;
        top: 10%!important;
        right: 0%!important;
        z-index: 234!important;
    }
  }

.landingWrap {
    overflow: hidden;
}

p {
    font-size: 20px;
    margin: 0;
}

.bgWrapMore {
    position: relative;
    height: 70vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
}

/* LANDING HEADER */

.twitWrap {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 123;
}
.twitWrap a {
    cursor: pointer;
}

.discWrap {
    position: absolute;
    top: 0;
    right: 8%;
    z-index: 123;
}

.discWrap a {
    cursor: pointer;
}


.bgWrap {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
}

.logoWrap {
    position: absolute;
    left: 0;
    top: 0;
}
.img-motherWrap {
    position: absolute;
    right: -20%;
    top: 0;
    overflow: hidden;
}
.text-landing-header {
    position: absolute;
    bottom: 0;
    width: 60%;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.5);
}
.alien-conteiner {
    position: absolute;
    right: 50px;
    bottom: -70px;
}
.img-alienGreen {
    margin-right: 30px;
    margin-top: 7px;
}
.img-alienOrange {

}


/* HERO LANDING */

.alienHero {
    top: 30%;
    left: 15%;
}
.textHero {
    right: 10%;
    top: 40%;
}

/* COLLECT LANDING */

.alienCollect {
    padding-top: 100px;
    right: 10%;
    top: 40%;
    
}
.textCollect {
    padding-top: 100px;
    width: 30%;
    top: 30%;
    left: 10%;
}

/* POWER LANDING */

.alienPower {
    top: 20%;
    left: 10%;
}
.textPower {
    right: 10%;
    top: 20%;
}

/* COLLECT LANDING */

.btn-warning {
    padding: 10px 60px 10px 60px;
    font-size: 34px;
    font-weight: bold;
    background: rgb(255, 153, 0);
    border: 1px solid rgb(255, 153, 0);
    border-radius: 40px;
    color: #fff;
  }
  
  .btn-warning:hover {
    background: rgb(87, 58, 14);
    border: 1px solid rgb(255, 153, 0);
  }

.collectWrap {
    position: relative;
    width: 100vw;
    height: 90vh;
}
.textCollect {
    top: 0;
    left: 8%;
}

.imgCollect {
    top: 15%;
    right: 5%;
}

/* INVULNERABILITY LANDING */

.invWrap {
    position: relative;
    width: 100vw;
    height: 70vh;
    background-image: url('/bg-stars.png');
    background-repeat: repeat;
    background-size: 150px;   
}
.textInv {
    top: 28%;
    left: 8%;
}

.imgInv {
    top: 8%;
    right: 5%;
}

.bgStars {
    opacity: 0.1;
}

/* RECOVERY STURDASTER LANDING */

.recWrap {
    position: relative;
    background-color: rgb(6, 6, 58);
    width: 100vw;
    height: 70vh;
    background-image: url('/bg-stars.png');
    background-repeat: repeat;
    background-size: 150px;
}
.textRec {
    top: 28%;
    right: 5%;
}

.imgRec {
    top: 8%;
    left: 5%;
}

.bgStars {
    opacity: 0.1;
}

/* SPACE LANDING */

.bgWrapStar {
    position: relative;
    height: 70vh;
    width: 80vw;
    overflow: hidden;
    z-index: -1;
    right: 145px;
}

.textSpace {
    top: 28%;
    right: -8%;
}

.imgSpace {
    top: 25%;
    left: 22%;
}

/* SPECIAL OBJECT */

.bgSpecial {
    background-image: url('/bg-stars.png');
    background-repeat: repeat;
    background-size: 150px;
}

.specialBg {
    background-color: rgb(6, 6, 58);
}

/* STRDT LANDING */

.imgStrdt {
    top: 50%;
    left: 20%;
}
.textStrdt {
    top: 50%;
    right: 0;
}

/* SWAP LANDING */

.swapWrap {
    position: relative;
    width: 100vw;
    height: 50vh;
    background-image: url('/bg-stars.png');
    background-repeat: repeat;
    background-size: 150px;
}
.imgSwap {
    top: 20%;
    left: 15%;
}

.textSwap {
    top: 28%;
    right: 5%;
    
}


/* RESURACTION LANDING */

.resWrap {
    position: relative;
    width: 100vw;
    height: 60vh;
    background-image: url('/bg-stars.png');
    background-repeat: repeat;
    background-size: 150px;
}
.imgRes {
    top: 10%;
    right: 15%;
}

.textRes {
    top: 30%;
    left: 8%;
}

/* FOOTER LANDING */

.joinDiscord {
    top: -15%;
}

.joinDiscordImg {
    border-radius: 50px;
}

.textJoinDiscord {
    top: 15%;
}

/* BUTTON */

.icon-button {
    position: absolute;
    top: 15%;
    right: -25px;
  }
  
  .btn-success {
    padding: 15px 60px 15px 60px;
    font-size: 34px;
    font-weight: bold;
    background: rgb(44, 244, 44);
    border: 1px solid rgb(44, 244, 44);
    border-radius: 40px;
  }
  
  .btn-success:hover {
    background: rgb(21, 103, 21);
    border: 1px solid rgb(44, 244, 44);
  }
  